.crop-cards{
  width: 15rem;
}

.crop-cards:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-style-1{
  color: white;

  background: #6dbd12;
}

.card-style-2{
  color: white;

  background: #dac511;
}

.card-style-3{
  color: white;

  background: #10b869;
}

.card-style-4{
  color: white;

  background: #a33dd3;
}


.snow{
  
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("https://cdn.discordapp.com/attachments/744182992037216260/990023034524033105/snow1.png"), url("https://cdn.discordapp.com/attachments/744182992037216260/990023034758922250/snow2.png"), url("https://cdn.discordapp.com/attachments/744182992037216260/990023034951827556/snow3.png");
    
    animation: snow 20s linear  infinite ;
  }
  @keyframes snow {
    0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
  }

.agri-desc{
  font-size: 14px !important;
}